<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ns.demo">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--存储权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--定位权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true" />

    <application
        android:name="com.njxm.smart.SmartCloudApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/LaunchTheme"
        android:allowBackup="false"
        android:supportsRtl="false"
        tools:replace="android:allowBackup,android:supportsRtl"
        android:usesCleartextTraffic="true">

        <!--百度SDK-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="vcUOBFK6QDsW9Yq4hfbnjd3KZiZp2Qea" />

        <!--bugly-->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.1" />

        <activity
            android:name="com.njxm.smart.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.njxm.smart.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.njxm.smart.activities.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.AboutUsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.WebViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.PersonalInformationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.SuggestionsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.UpdateTelPhoneActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.RealNameAuthenticationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.MedicalReportActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.UserPhoneActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.InputFaceActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.UserEducationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.UserAddressActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.UserEmergencyContactActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.UserCertificateActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.CertificateTypeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.DailyCheckActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.njxm.smart.activities.DailyCheckDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <activity
            android:name="com.njxm.smart.activities.SearchActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <activity
            android:name="com.njxm.smart.activities.SafeExamResultActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <activity
            android:name="com.njxm.smart.activities.QRUserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.njxm.smart.activities.DWebViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.njxm.smart.activities.SafeExamActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.njxm.smart.activities.SafeExamRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.njxm.smart.activities.SafeExamAnswerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.njxm.smart.activities.SafeExamPlanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.njxm.smart.activities.SafeExamStudyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>